<span *ngIf="!selectedList">Select a list, to see the items</span>

<div *ngIf="selectedList">
  <ul>
    <li>
      <input
        #addItemInput
        type="text"
        placeholder="Itemname"
        (keyup.enter)="addItem(addItemInput.value, selectedList); addItemInput.value=''"
      >
      <button (click)="addItem(addItemInput.value, selectedList); addItemInput.value=''" class="actionButton">
        <img src="../../../assets/images/actionIcon/plus.png" alt="Add List" class="actionIcon">
      </button>
    </li>
  </ul>


  <br><br>

  <ul>
    <li *ngFor="let name of itemNames">
      <input
        (keyup.enter)="renameItem($event)"
        [disabled]="!(enabledInput===name)"
        [class.disableInput]="!(enabledInput===name)"
        (blur)="onRenameBlur()"
        type="text"
        value="{{name}}"
      >

      <div>
        <button (click)="deleteItem(name)" class="actionButton">
          <img src="../../../assets/images/actionIcon/delete.png" alt="Delete" class="actionIcon">
        </button>
        <button (click)="onRenamePress(name)" class="actionButton">
          <img src="../../../assets/images/actionIcon/rename.png" alt="Rename" class="actionIcon">
        </button>
      </div>
    </li>
  </ul>
</div>
