<input
  #addListInput
  id="addListInput"
  type="text"
  placeholder="Listname"
  (keyup.enter)="addList(addListInput.value); addListInput.value=''"
>
<button (click)="addList(addListInput.value); addListInput.value=''">Add List</button>


<br/><br>
<!-- TODO: Disable input field on default and only enable it after "Rename" is pressed-->
<!-- [ngClass]="{'disableInputs':  isFieldDisabled === true}"-->

<ul *ngFor="let name of listNames">
  <li>
    <button (click)="switchSelectedList(name)" class="listSelectButton">
      <!-- TODO: Disable inputs while not renaming -->
      <input
        [class.selectedList]="selectedList===name"
        [class.disableInputs]=""
        type="text"
        value="{{name}}"
      >
    </button>

    <div>
      <button (click)="deleteList(name)" class="actionButton">
        <img src="../../../assets/images/actionIcon/delete.png" alt="Delete" class="actionIcon">
      </button>
      <button (click)="onRenamePress(name)" class="actionButton">
        <img src="../../../assets/images/actionIcon/rename.png" alt="Rename" class="actionIcon">
      </button>
    </div>

  </li>
</ul>
