li {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
}

li button {
  align-self: end;

}

button input {
  width: 40px;
}

.button {
  width: 100px;
}


