li {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
}


li button {
  align-self: end;
}

button input {
  width: 100%;
  height: 28px;
  padding: 5px;
  margin: 0px;
  border: none;
}

.listSelectButton {
  width: 50%;
  height: 30px;
  border: 1px black solid;
  border-radius: 3px;
  margin: 5px;
}

input {
  height: 30px;
  padding: 5px;
  border: 1px solid black;
  border-radius: 3px;
  width: 50%;
  margin: 5px;
}

#selectedList {
  background-color: white;
}

.actionIcon {
  width: 20px;
}

.actionButton {
  background-color: white;
  border: 1px black solid;
  border-radius: 3px;
  height: 30px;
  padding: 5px;
  margin: 5px;
}

.disableInput {
  color: black;
  background-color: lightgray;
}

