<input
  #addListInput
  id="addListInput"
  type="text"
  placeholder="Listname"
  (keyup.enter)="addList(addListInput.value); addListInput.value=''"
>
<button (click)="addList(addListInput.value); addListInput.value=''" class="actionButton">
  <img src="../../../assets/images/actionIcon/plus.png" alt="Add List" class="actionIcon">
</button>
<ul *ngFor="let name of listNames">
  <li>
    <button (click)="switchSelectedList(name)" class="listSelectButton">
      <input
        (keyup.enter)="renameList($event)"
        [disabled]="!(enabledInput===name)"
        [class.disableInput]="!(enabledInput===name)"
        [class.selectedList]="selectedList===name"
        (blur)="onRenameBlur()"
        type="text"
        value="{{name}}"
      >
    </button>

    <div>
      <button (click)="deleteList(name)" class="actionButton">
        <img src="../../../assets/images/actionIcon/delete.png" alt="Delete" class="actionIcon">
      </button>
      <button (click)="onRenamePress(name)" class="actionButton">
        <img src="../../../assets/images/actionIcon/rename.png" alt="Rename" class="actionIcon">
      </button>
    </div>

  </li>
</ul>
