<div class="featureBox devices">
  <img src="../../assets/images/feature/devices.png" alt="devices">
  <div>
    <h2>Keep track of all Lists from any device!</h2>
    <p>Your Lists are stored in the cloud for you to have access to your Lists on any device.</p>
  </div>
</div>

<div class="featureBox switzerland">
  <img src="../../assets/images/feature/switzerland.png" alt="switzerland">
  <div>
    <h2>Your Lists are securely hosted in Switzerland.</h2>
    <p>We host all your Lists in Switzerland. You won't have to worry about privacy issues anymore!</p>
  </div>
</div>

<div class="featureBox gettingStarted">
  <img src="../../assets/images/feature/gettingstarted.svg" alt="gettingStarted">
  <div>
    <h2>Getting started</h2>
    <p>Please
      <a routerLink="/login">login</a>
      if you have a List account.
      <a routerLink="/register">Register</a>
      in order to use List. </p>
  </div>
</div>
