<div class="featureBox share">
  <img src="../../assets/images/feature/share.png" alt="share">
  <div>
    <h2>Share your shoppinglist with your family to always keep them up to date!</h2>
    <p>List lets you share your Lists with any other user. You can add or remove another user from your List at any
      time!</p>
  </div>
</div>

<div class="featureBox devices">
  <img src="../../assets/images/feature/devices.png" alt="devices">
  <div>
    <h2>Keep track of all Lists from any device!</h2>
    <p>Your Lists are stored in the cloud for you to have access to your Lists on any device.</p>
  </div>
</div>

<div class="featureBox lorem">
  <img src="../../assets/images/feature/gettingstarted.svg" alt="lorem">
  <div>
    <h2>Getting started</h2>
    <p>Please
      <a routerLink="/login">login</a>
      if you have a List account.
      <a routerLink="/register">Register</a>
      in order to use List. </p>
  </div>
</div>
