<form id="login">
  <h1 class="title">Login</h1>

  <div class="formInputs">

    <div class="emailContainer flexContainer">
      <label
        class="block email"
        for="email">Email
      </label>
      <input
        id="email"
        #emailInput
        class="block loginInput"
        type="text"
        name="email"
        placeholder="Email"
        (blur)="blur('email', emailInput.value)"
        (ngModelChange)="valueChange('email', emailInput.value)"
        [(ngModel)]="emailValue"
        [class.validationError]="validationError.email"
        required
      />
      <span *ngIf="validationError.email" class="block email error">
        {{validationError.email}}
      </span>
    </div>

    <div class="passwordContainer flexContainer">
      <label class="block password" for="password">
        Password
      </label>
      <input
        id="password"
        #passwordInput
        class="block loginInput"
        type="password"
        name="password"
        placeholder="Password"
        (blur)="blur('password', passwordInput.value)"
        (ngModelChange)="valueChange('password',  passwordInput.value)"
        (keyup.enter)="login()"
        [(ngModel)]="passwordValue"
        [class.validationError]="validationError.password"
        required
      />
      <span *ngIf="validationError.password" class="block password error">
        {{validationError.password}}
      </span>
    </div>
    <br>
    <p>Due to slow servers, this may take up to 20 seconds.</p>

    <div class="submitContainer flexContainer">
      <button class="block" id="submitButton" name="submit" (click)="login()">
        Submit
      </button>
    </div>
  </div>
</form>
