.grid {
  display: grid;
  grid-template-columns: 27% 63% 20%;
}


.item {
  margin: 5px;
  background-color: aliceblue;
}

.disableInputs {
  background-color: pink;
  color: red;
  border-color: red;
}
