.grid {
  display: grid;
  grid-template-columns: 27% 53% 20%;
}


.item {
  margin: 5px;
  padding: 5px;
  background-color: lightgray;

}

.disableInputs {
  background-color: pink;
  color: red;
  border-color: red;
}
