<header>
  <button class="hamburgerMenu" (click)="onHamburgerPress()">
    <img src="../assets/images/burger.png" alt="Menu">
  </button>

  <div class="mobileIcon">
    <a routerLink="/">
      <img class="icon" src="../assets/images/list.png" alt="List">
    </a>
  </div>


  <nav [class.hamburger--open]="isHamburgerMenuOpen" [class.hamburger--close]="!isHamburgerMenuOpen && !isOnInit">
    <a class="navButton" [class.navHomeLogin]="isLoggedIn" [class.navHomeLogout]="!isLoggedIn" routerLink="/"
       routerLinkActive="active" (click)="onHamburgerPress()">Home</a>
    <a class="navButton" [class.navListLogin]="isLoggedIn" [class.navListLogout]="!isLoggedIn" routerLink="/list"
       routerLinkActive="active"
       (click)="onHamburgerPress()">List</a>

    <div [class.navIconLogin]="isLoggedIn" [class.navIconLogout]="!isLoggedIn">
      <a routerLink="/">
        <img class="icon" src="../assets/images/list.png" alt="List">
      </a>
    </div>

    <a class="navButton" [class.navLoginLogin]="isLoggedIn" [class.navLoginLogout]="!isLoggedIn" routerLink="/login"
       routerLinkActive="active"
       (click)="onHamburgerPress()">Login</a>
    <a class="navButton" [class.navRegisterLogin]="isLoggedIn" [class.navRegisterLogout]="!isLoggedIn"
       routerLink="/register"
       routerLinkActive="active"
       (click)="onHamburgerPress()">Register</a>
    <a class="navButton" [class.navLogoutLogin]="isLoggedIn" [class.navLogoutLogout]="!isLoggedIn"
       (click)="logout(); onHamburgerPress()">Logout</a>
  </nav>


</header>
<br><br><br><br><br><br>

<router-outlet></router-outlet>

<footer>
  <p>List, developed by Leo Scherer at CSS Insurance</p>
</footer>
