.navButton {
  border: 1px solid black;
  text-decoration: none;
  color: black;
  background-color: lightgrey;
  border-radius: 5px;
  width: 100px;
  height: 50px;
  text-align: center;
  align-items: center;
  align-content: center;
  line-height: 50px;
}

/* Navbar Styling when user is Logged in */
.navIconLogin {
  order: 0;
}

.navHomeLogin {
  order: 1;
}

.navListLogin {
  order: 2;
}

.navLogoutLogin {
  order: 3;
}

.navLoginLogin {
  display: none;
}

.navRegisterLogin {
  display: none;
}


/* Navbar Styling when user is Logged out */
.navIconLogout {
  order: 0;
}

.navHomeLogout {
  order: 1;
}

.navLoginLogout {
  order: 2;
}

.navRegisterLogout {
  order: 3
}

.navListLogout {
  display: none;
}

.navLogoutLogout {
  display: none;
}


header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: lightgray;
}

.navButton:hover {
  background-color: grey;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

img {
  height: 100px;
}

footer {
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}

router-outlet {
  margin-top: 300px;
}

.mobileIcon {
  display: none;
}

.hamburgerMenu {
  display: none;
}

@media only screen and (max-width: 840px) {
  /* Mobile and tablet */
  .icon {
    height: 70px;
  }

  .navButton {
    height: 60px;
    line-height: 60px;
    margin: 2.5px;
    width: 90%;
  }

  nav {
    display: none;
    overflow: hidden;
  }

  .hamburger--open {
    background-color: lightgray;
    border-radius: 5px;
    display: flex;
    height: 0;
    width: 100%;
    animation: open-hamburger 0.5s forwards;
    flex-direction: column;
    position: fixed;
    justify-content: center;

  }


  .hamburger--open div {
    display: none;
  }

  .hamburger--close {
    background-color: lightgray;
    border-radius: 5px;
    display: flex;
    height: 300px;
    width: 100%;
    animation: close-hamburger 0.5s forwards;
    flex-direction: column;
    position: fixed;
    justify-content: center;
  }

  .hamburger--close div {
    display: none;
  }


  button.hamburgerMenu {

    display: block;
    position: absolute;

    height: 70%;
    width: 70px;
    margin-left: 20px;
    margin-top: 13px;
    border-radius: 5px;
    border: 1px lightgray solid;
    background-color: gray;

  }

  button.hamburgerMenu:hover {
    background-color: lightgray;
  }

  .mobileIcon {
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  button img {
    overflow: hidden;
    height: 60%;
    width: 60%;
  }

  @keyframes open-hamburger {
    from {
      height: 0;
    }
    to {
      height: 300px;
    }
  }

  @keyframes close-hamburger {
    from {
      height: 300px;
    }
    to {
      height: 0;
    }
  }


}

@media only screen and (min-width: 1300px) {
  /* Wide displays */
  nav {
    width: 1255px;
    margin-right: auto;
    margin-left: auto;
  }
}
