#login {
  margin-right: auto;
  margin-left: auto;
  width: 600px;
  text-align: center;
  padding-bottom: 50px;
  padding-top: 50px;


  border: 1px lightgray solid;
  border-radius: 6px;
}


.title {
  margin-bottom: 20px;
}

.formInputs {
  display: flex;
  flex-direction: column;
  align-self: center;
}

#submitButton {
  width: 200px;
  height: 45px;
  border: 1px solid black;
  text-decoration: none;
  color: black;
  background-color: lightgrey;
  border-radius: 5px;
  margin-top: 24px;
  align-self: center;
}

.block {
  margin: 3px;
}

#submitButton:hover {
  background-color: gray;
}

.flexContainer input {
  width: 80%;
  height: 45px;
  align-self: center;
  border: 1px black solid;
  border-radius: 5px;
  padding: 5px;
}

.flexContainer input.validationError {
  border: 1px darkred solid;
}

.error {
  color: darkred;
  margin-bottom: 15px;
}


.flexContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

@media only screen and (max-width: 840px) {

  /* PLACEHOLDER */

}

@media only screen and (max-width: 640px) {
  #login {
    margin-left: 20px;
    margin-right: 20px;

    width: auto;
  }

}
