<form id="login">
  <h1 class="title">Register</h1>

  <div class="formInputs">

    <div class="usernameContainer flexContainer">
      <label class="username" for="username">
        Username
      </label>

      <input
        id="username"
        class="block username"
        type="text"
        name="username"
        placeholder="Username"
        (blur)="onBlurValidator('username')"
        (ngModelChange)="onModelChangeValidator('username', $event)"
        [(ngModel)]="usernameValue"
        [class.validationError]="validationError.username"
        required
      />
      <span *ngIf="validationError.username" class="block username error">
        {{validationError.username}}
      </span>
    </div>

    <div class="emailContainer flexContainer">
      <label
        class="block email"
        for="email">Email
      </label>
      <input
        id="email"
        class="block loginInput"
        type="text"
        name="email"
        placeholder="Email"
        (blur)="onBlurValidator('email')"
        (ngModelChange)="onModelChangeValidator('email', $event)"
        [(ngModel)]="emailValue"
        [class.validationError]="validationError.email"
        required
      />
      <span *ngIf="validationError.email" class="block email error">
        {{validationError.email}}
      </span>
    </div>

    <div class="passwordContainer flexContainer">
      <label class="block password" for="password">
        Password
      </label>
      <input
        id="password"
        class="block loginInput"
        type="password"
        name="password"
        placeholder="Password"
        (blur)="onBlurValidator('password')"
        (ngModelChange)="onModelChangeValidator('password', $event)"
        [(ngModel)]="passwordValue"
        [class.validationError]="validationError.password"
        required
      />
      <span *ngIf="validationError.password" class="block password error">
        {{validationError.password}}
      </span>
    </div>

    <div class=" repeatPasswordContainer flexContainer">
      <label class="block  repeatPassword" for="repeatPassword">
        Repeat Password
      </label>
      <input
        id="repeatPassword"
        class="block loginInput"
        type="password"
        name="repeatPassword"
        placeholder="Repeat Password"
        (blur)="onBlurValidator('repeatPassword')"
        (ngModelChange)="onModelChangeValidator('repeatPassword', $event)"
        (keyup.enter)="register()"
        [(ngModel)]=" repeatPasswordValue"
        [class.validationError]="validationError.repeatPassword"
        required
      />
      <span *ngIf="validationError. repeatPassword" class="block repeatPassword error">
        {{validationError.repeatPassword}}
      </span>
    </div>

    <div class="submitContainer flexContainer">
      <label></label>
      <button class="block" id="submitButton" name="submit" (click)="register()">Submit</button>
    </div>

  </div>


</form>
